div#content div#controls{
	min-width: 600px;
}
#leftcontent, .leftcontent{
	bottom: 15px;
	top: 5em;
	height: auto;
	border-right: 0px;
    background: #fff;
}
.ui-widget-header {
	border: 1px solid #4B610B;
	color: #ffffff;
	font-weight: bold;
}

#leftcontent li {                                                               
    top: 0em;                                                                   
}  

#titlebar {
  font-weight: bold;
  padding: 20px;
