

#new {
  margin: 0 10px 0 0;
}

#upload {
  margin: 0 10px 0 0;
  width: auto;
  overflow: visible;
}

#upload a{
	padding: 14px 10px 14px 10px;
	top: -26px;
	margin: 0 0 0 0;
	text-align: center;
	opacity: 1;
}

#data-upload-form {
	height: 36px;
}

#trash {
	font-weight: bold;
}

#filestable.multiselect { 
	top: 76px; 
}

#filestable { 
	top: 76px; 
}

table#filestable thead {
  padding-top: 85px;
}

table.multiselect thead { 
	position: relative; 
	top:85px; 
	z-index:1; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
	left: 0; 
	padding-left: 50px; 
	width:100%; 
}

table th#headerName {                                                                                                                                                                                                                      
    position: relative;                                                                                                                                                                                                                                                                                                                               
    padding: 0;                                                                                                                                                                                                                       
}

table th .name {
	position: relative;
	top: 0px;
    left: 55px;
}

#select_all {
	position: relative;
	top: 0px;
}

#modified {
	position: relative;
	top: 0px;
}

.selectedActions {
	top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: absolute;
	float: right;
}

#headerName-container {                                                                                                                                                                                                                    
    position: relative;                                                                                                                                                                                                                    
}                                                                                                                                                                                                                                          


table th#headerSize, table td.filesize {                                                                                                                                                                                                   
    min-width: 3em;                                                                                                                                                                                                                        
    padding: 0 1em;                                                                                                                                                                                                                        
    text-align: right;                                                                                                                                                                                                                     
}                                                                                                                                                                                                                                          
table th#headerDate, table td.date {                                                                                                                                                                                                       
    -moz-box-sizing: border-box;                                                                                                                                                                                                           
    box-sizing: border-box;                                                                                                                                                                                                                
    position: relative;                                                                                                                                                                                                                    
    min-width: 11em;                                                                                                                                                                                                                       
}

.actions {
  width: auto;
}

i.large {
  font-size: large;
}

i.overlay {
  font-weight: bold;
  opacity: 1;
  font-size: x-large;
  position: relative;
  left: -11px;
  top: 7px;
  margin-right: 15px;
} 


#new {
  float: right;
  margin: 6px 0 0 10px;
  padding: 0 0 0 0;
  top: 0;
}

#new > a {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  top: 0;
}

#upload {
  float: right;
  margin: 10px 0 0 10px;
  padding: 0 0 0 0;
}

#upload > a {
  margin: 0 0 0 0;
  padding 0 0 0 0;
  top: 0;
  float: right;
}

#upload a {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#trash {
  float: right;
  margin: 10px 0 0 10px;
  padding: 0 0 0 0;
  cursor: pointer;
}

table.multiselect thead th {
  border-bottom: 1px solid #ddd;
}

#body-user #filestable {
   min-width: 850px;  
   top: 13px;
}

#body-user #controls {
  position: relative;
  min-width: 850px;
  width: 100%;
  height: auto;
  min-width: 850;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  top: 0;
}


