label {
    padding: 4px;
    /*vertical-align: 16%;*/
}
#firstrunwizard ul {
	list-style: circle;
	text-align: left;
	margin-left: 50px;
}

#firstrunwizard li {
	color: #222222;
	cursor: default;
}

div.clientsbox, input#pass1 {
	display:none;
}
