label {
    padding: 4px;
    /*vertical-align: 16%;*/
}
#firstrunwizard ul {
	list-style: circle;
	text-align: left;
	margin-left: 50px;
}

#firstrunwizard li {
	color: #222222;
	cursor: default;
}

/*div.clientsbox, */ .credits-footer, input#pass1 {
	display:none;
}

#personal-show + label {
	margin-left: -3.2em;
	margin-top: 0.7em;
}


select#languageinput, select#timezone {
	width: 15em;
	height: 2.4em;
}